{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
</head>
<body ng-app="{% block ng_app %}tennis.app.resource{% endblock %}">
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">{% block content %}
{% verbatim %}
    <div class="panel" ng-repeat="player in players">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ player.user.username }}</h3>
            <author class="pull-right">{{ player.mobile_phone }}</author>
        </div>
        <p class="well">{{ player.home_phone }}</p>
    </div>
{% endverbatim %}
{% endblock %}</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js"></script>
<script src="{% static "js/tennis.js" %}"></script>
</body>
</html>
