{% load i18n %}
{% load account_tags %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-inverse marginBottom-0" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ home_url }}"> {{ site }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><img src="/static/favicon-32x32.png" alt="HH"/></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>

               <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">2017 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li class="dropdown-header">Singles</li>

                        <li><a href="/tennis/matches/30">  Matches</a></li>
                        <li><a href="/tennis/standings/30/1/">  Standings</a></li>

                        <li class="dropdown-header">Doubles</li>

                        <li><a href="/tennis/matches/31">  Matches</a></li>
                        <li><a href="/tennis/standings/31/1/"> Standings</a></li>

                     </ul>
                </li>


               <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">2016 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li class="dropdown-header">Singles</li>

                        <li><a href="/tennis/matches/23">  Matches</a></li>
                        <li><a href="/tennis/standings/23/1/">  Standings</a></li>

                        <li class="dropdown-header">Doubles</li>

                        <li><a href="/tennis/matches/22">  Matches</a></li>
                        <li><a href="/tennis/standings/22/1/"> Standings</a></li>

                     </ul>
                </li>


              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">2015 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li class="dropdown-header">Singles</li>

                        <li><a href="/tennis/matches/15"> 3.5 Matches</a></li>
                        <li><a href="/tennis/standings/15/1/"> 3.5 Standings</a></li>


                        <li><a href="/tennis/matches/16"> 4.0 Matches</a></li>
                        <li><a href="/tennis/standings/16/1/"> 4.0 Standings</a></li>

                        <li role="separator" class="divider"></li>

                        <li class="dropdown-header">Doubles</li>
                        <li><a href="/tennis/matches/17"> Spring Matches</a></li>
                        <li><a href="/tennis/standings/17/1/"> Spring Standings</a></li>
                        <li><a href="/tennis/matches/18"> Fall Matches</a></li>
                        <li><a href="/tennis/standings/18/1/"> Fall Standings</a></li>

                       <li role="separator" class="divider"></li>


                         <li><a href="/tennis/br/19">  Fall Doubles Playoff Brackets</a></li>

                     </ul>
                </li>


               <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">2014 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li class="dropdown-header">Singles</li>

                        <li><a href="/tennis/matches/5"> 3.5 Matches</a></li>
                        <li><a href="/tennis/standings/5/1/"> 3.5 Standings</a></li>
                        <li><a href="/tennis/br/11">  3.5 Playoff Brackets</a></li>

                        <li><a href="/tennis/matches/7"> 4.0 Matches</a></li>
                        <li><a href="/tennis/standings/7/1/"> 4.0 Standings</a></li>
                        <li><a href="/tennis/br/13">  4.0 Playoff Brackets</a></li>

                        <li role="separator" class="divider"></li>

                        <li class="dropdown-header">Doubles</li>
                        <li><a href="/tennis/matches/6"> 3.5 Matches</a></li>
                        <li><a href="/tennis/standings/6/1/1/"> 3.5 Standings</a></li>
                        <li><a href="/tennis/br/12">  3.5 Playoff Brackets</a></li>

                        <li><a href="/tennis/matches/8"> 4.0 Matches</a></li>
                        <li><a href="/tennis/standings/8/1/"> 4.0 Standings</a></li>
                        <li><a href="/tennis/br/14">  4.0 Playoff Brackets</a></li>

                     </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">2013 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li class="dropdown-header">Singles</li>
                        <li><a href="/tennis/matches/1"> Matches</a></li>
                        <li><a href="/tennis/standings/1/1/"> Standings</a></li>
                        <li><a href="/tennis/br/3">  Playoff Brackets</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Doubles</li>
                        <li><a href="/tennis/matches/2"> Matches</a></li>
                        <li><a href="/tennis/standings/2/1/"> Standings</a></li>
                        <li><a href="/tennis/br/4"> Playoff Brackets</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <p class="navbar-text">
                    <i class="fa fa-user"></i> {% user_display request.user %}
                </p>
                <li>
                    <a href="/admin/auth/user/{{ user.id }}/"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
                </li>
                <li>
                    <a id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i>
                        {% trans "Log out" %}</a>
                </li>
                {% else %}
                <li><a href="{% url 'auth0_login' %}?callback=">{% trans "Auth0Login" %}</a></li>
                <li><a href="{% url 'account_login' %}">{% trans "PswdLogin" %}</a></li>
                {% if ACCOUNT_OPEN_SIGNUP %}
                <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>


<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
