<div>
        <table>
            <tr>
                <td><a href="/admin/tennis/match?date__gte=2016-01-01">Add/update 2016 matches/scores &raquo;</a>
            <tr>
                <td> Add/Update Players' <a href="/admin/tennis/playernameemail">Name/email&raquo; </a> &nbsp; &nbsp;
                <td><a href="/admin/tennis/playerphone">Phone #s&raquo;</a>
            <tr>
                <td><a href="/admin/auth/user/">User Admin &raquo;</a>
            <tr>
                <td><a href="/admin/">General Admin &raquo;</a>
        </table>
</div>