      <table>
            <tr> <td><a href=/tennis/players/1> Players Contact info &raquo;</a> 
            <tr> <td><a href="/tennis/my_matches/{{ user.id }}">My Hackers League Schedule &raquo;</a>
            <tr> <td><a href=/tennis/registrations> Hackers League 2016 Registrations</a>
            <tr> <td><a href="/tennis/player/edit/{{ user.id }}">Register for 2016 Hackers League &raquo;</a>
            <tr> <td><i class="fa fa-envelope" aria-hidden="true"></i> <a href='mailto:{{ member_emails|default_if_none:"nothing" }}'> Email all Hackers &raquo;</a>
            <tr> <td><i class="fa fa-envelope" aria-hidden="true"></i><a href='mailto:{{ member_emails_3518|default_if_none:"nothing" }}'> Email the 3.5 18+ team &raquo;</a>
            <tr> <td><i class="fa fa-envelope" aria-hidden="true"></i><a href='mailto:{{ member_emails_3540|default_if_none:"nothing" }}'> Email the 3.5 40+ team &raquo;</a>
            <tr> <td><i class="fa fa-envelope" aria-hidden="true"></i><a href='mailto:{{ member_emails_4018|default_if_none:"nothing" }}'> Email the 4.0 18+team &raquo;</a>
            <tr> <td><i class="fa fa-envelope" aria-hidden="true"></i><a href='mailto:{{ member_emails_4040|default_if_none:"nothing" }}'> Email the 4.0 40+ team &raquo;</a>
        </table>
