{% url "account_login" as login_url %}
{% url "account_signup" as signup_url %}
Admins, you can <a href="{{ login_url }}" class="btn">Log In</a>
    {# or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> #}
    to use the Admin features of the site.

