<i class="fa fa-camera" aria-hidden="true"></i> Photos:
    <a href=https://goo.gl/photos/P3Vfb9huumHbXPGBA>
        2016
    </a>
    <a href=https://plus.google.com/photos/113742432252732926049/albums/6061356417352675105?authkey=COGg3Pibg5fiQA>
        2014 
    </a>
<br>

Tennis facilities where we play:
        <ul style="list-style: none;">
            <li>
                <small><a
                        href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=40.350195,+-74.793096&amp;aq=&amp;sll=40.350224,-74.793111&amp;sspn=0.00215,0.002543&amp;t=h&amp;gl=us&amp;ie=UTF8&amp;z=14&amp;ll=40.350195,-74.793096"
                        style="color:#0000FF;text-align:left">[Map]</a>Hopewell Valley Tennis...
                </small>
                (609) 737-3600
            <li>
                <small><a
                        href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=mercer+county+tennis+center+address&amp;fb=1&amp;gl=us&amp;hq=tennis+center&amp;hnear=0x89c160e60fa87e0d:0xca4ca22398799eee,Mercer,+NJ&amp;cid=0,0,271489935099363386&amp;t=h&amp;ll=40.262646,-74.631755&amp;spn=0.006295,0.006295&amp;source=embed"
                        style="color:#0000FF;text-align:left">[Map]</a>Mercer Tennis Center
                </small>
                (609)448-8007
            <li>
                <small><a
                        href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=150+Raymond+Rd,+Princeton,+NJ+%E2%80%8E+&amp;aq=&amp;sll=40.380513,-74.590185&amp;sspn=0.002158,0.002543&amp;t=h&amp;gl=us&amp;ie=UTF8&amp;hq=&amp;hnear=150+Raymond+Rd,+Monmouth+Junction,+New+Jersey+08852&amp;ll=40.38015,-74.583767&amp;spn=0.002149,0.002543&amp;z=14"
                        style="color:#0000FF;text-align:left">[Map]</a>Princeton Racquet Club
                </small>
                (732) 329-6200
        </ul>
