<section>

    <div class="container" style="margin:0;">
        Next few upcoming events below. Links to <a href="/tennis/events/1/">See All Events, </a> and to <a href="/admin/tennis/event/add/">  Add an Event</a>
        <object type="text/html" data="/tennis/upcoming_events/1/?always_show=0&max_rows=5&user_id={{ user.id }}" width="100%" height="210px" overflow="scroll">
        </object>
        Important events of the Season.
        <object type="text/html" data="/tennis/upcoming_events/1/?always_show=1&max_rows=5&user_id={{ user.id }}" width="100%" height="210px" overflow="scroll">
        </object>
    </div>
</section>
