{% extends "site_base.html" %}

{% load i18n %}
{% block head_title %}Hopewell Hackers{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron" style="background:transparent !important">
    <div class="container">

        <h3>{% trans "Hopewell Hackers Tennis Team" %}</h3>
        <p>
            Please <a href="mailto:cmraje@yahoo.com,bbotsch3@gmail.com">
            click here
        </a> to contact our captain
            If you are interested in joining Hopewell Hackers' USTA 3.5 or 4.0 team
        </p>
        <p>
            <a href=/tennis/players/1> {% trans "Players &raquo;" %}</a>
    </div>
</section>

{% endblock %}
