{% extends "site_base.html" %}

{% load i18n %}
{% block head_title %}Hopewell Hackers{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
              crossorigin="anonymous">

<div class="container" style="margin:0;">
  <br/>
  <h3>{% trans "Hopewell Hackers Tennis Club" %}</h3>
  <div > 
    USTA Team links : &nbsp;
    <a href= http://tennislink.usta.com/leagues/Main/statsandstandings.aspx#&&s=3%7c%7c0%7c%7c3512234687%7c%7c2017>
          3.5 18+</a> &nbsp;
    <a href= http://tennislink.usta.com/leagues/Main/statsandstandings.aspx#&&s=3%7c%7c0%7c%7c3512234702%7c%7c2017>
          3.5 40+</a> &nbsp;
    <a href= http://tennislink.usta.com/leagues/Main/StatsAndStandings.aspx?t=R-3&par1=3512234714&par2=2017>
          4.0 18+</a> &nbsp;
    <a href= http://tennislink.usta.com/leagues/Main/StatsAndStandings.aspx?t=R-3&par1=3512234728&par2=2017>
          4.0 40+</a>
  </div>
</div>

{% if user.is_authenticated %}
    {% include "_upcoming_events.html" %}
{% endif %}
<section><p >
    <div class="container" style="margin:0;">
      <div class="feature-columns">
        <div>
        {% if user.is_authenticated %}
            {% include "_common_actions_links.html" %}
       {% else %}
            {% include "_common_actions_logged_out.html" %}
        {% endif %}
        </div>
        <div>
            {% include "_admin_links.html" %}
        </div>
        <div>
        {% include "_static_links.html" %}
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
        </script>
      </div>
    </div>
</section>

{% endblock %}
