<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <title>Marian Drive REST</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script src="http://code.angularjs.org/1.1.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="facility">
    <h2>Tennis Facilities.</h2>
    <div ng-view></div>
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search Facilities">
      <table>
        <thead>
        <tr>
          <th>Facility</th>
          <th>Description</th>
          <th><a href="#/new"><i class="icon-plus"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="facility in facilities ">
          <td><a href="{{facility.map_url}}" target="_blank">{{facility.abbrev}}</a></td>
          <td>{{facility.name}}</td>
          <td>
            <a href="#/edit/{{facility.id}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
  
  
  
    <!-- CACHE FILE: detail.html -->
    <script type="text/ng-template" id="detail.html">
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="facility.abbrev" required>
          <span ng-show="myForm.name.$error.required" class="help-inline">
              Required</span>
        </div>
      
        <div class="control-group" ng-class="{error: myForm.site.$invalid}">
          <label>Website</label>
          <input type="url" name="site" ng-model="facility.map_url" required>
          <span ng-show="myForm.site.$error.required" class="help-inline">
              Required</span>
          <span ng-show="myForm.site.$error.url" class="help-inline">
              Not a URL</span>
        </div>
      
        <label>Description</label>
        <textarea name="description" ng-model="facility.name"></textarea>
      
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">Save</button>
        <button ng-click="destroy()"
                ng-show="facility._id" class="btn btn-danger">Delete</button>
      </form>
    </script>
  </div>

  </body>

</html>
