<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.auth0.com/js/lock/10.2.2/lock.min.js"></script>
    <script type="text/javascript">
      var lock = new Auth0Lock('{{ AUTH0_CLIENT_ID }}', '{{ AUTH0_DOMAIN }}', {
        auth: {
          redirectUrl: '{% firstof callback AUTH0_CALLBACK_URL %}',
          responseType: 'code',
          params: {
            scope: 'openid profile'
          }
        }
      });
      lock.show();
</script>
</head>
<body>
</body>
</html>
