{% extends "site_base.html" %}

{% block extra_head %}
<title> Playoff Bracket </title>
{% endblock %}

{% block body_base %}
<div id="playoffs">
<div id=matchCallback>.</div>
<div class=WHTBracket> </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.bracket.css" />
<script type="text/javascript" src="{{ STATIC_URL }}jquery.bracket.js"></script>

<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
  onload=function(){
    var e=document.getElementById("refreshed");
    if (e.value == "no" )
       e.value="yes";
    else {
       e.value="no";
       location.reload();
    }
}
</script>

<script type="text/javascript">
  function getData(br_num, cb) {
    $.get("/tennis/bracket/" + br_num, "", cb);
  }
  /* Edit function is called when team label is clicked */
  function edit_fn(container, data, doneCb) {
    var input = $('<input type="text">')
    input.val(data.name)
    container.html(input)
    input.focus()
    input.blur(function() { doneCb({flag: data.flag, name: input.val()}) })
 }
 
  /* Render function is called for each team label when data is changed, data
   * contains the data object given in init and belonging to this slot. */
  function render_fn(container, data, score) {
    if (!data.name) {
      container.append(data)
      return
    } else {
      //container.append('<img src="site/png/'+data.flag+'.png" /> ').append(data.name)
      container.append(data.name)
    }
  }
  function onclick(data) {
    if (data) {
      if (data.id) {
        url = "/admin/tennis/match/" + data.id
      } else if (data.home_player1 && data.away_player1){
        url = "/admin/tennis/match/add/?" +
        "&league=" + data.league +
        "&round_num=" + data.round_num +
        "&match_num=" + data.match_num +
        "&home_player1=" + data.home_player1 +
        "&home_player2=" + data.home_player2 +
        "&away_player1=" + data.away_player1 +
        "&away_player2=" + data.away_player2 
        
      }
      window.location = url
      //$.get("/admin/tennis/match/" + data.id, "", function(){window.location.reload(true)});
    }
    //$('#matchCallback').text("onclick(data: '" + data.str + "')")
  }
 
  function onhover(data, hover) {
    $('#matchCallback').text((data.date ? "Match Date: " + data.date:"") + " " +
                             (data.info ? data.info : "."))
  }

  $(function() {
    getData({{ br_id }},function(data) {
      $('#playoffs .WHTBracket').bracket({
         skipConsolationRound: true,
         init: data ,
         dir: "lr", // "rl" for reversed
         onMatchClick: onclick,
         onMatchHover: onhover,
         //save: function(){}, /* without save() labels are disabled */
         decorator: {edit: edit_fn,
                 render: render_fn}
        })
    })
  })
  </script>
{% endblock %}
