{% load render_table from django_tables2 %} 
<!doctype html> 
<html>
     <head>
         <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
     </head>
     <body>
         {% render_table people %}
     </body> 
</html>
