{% if player_list %}
    <ul>
    {% for p in player_list %}
        <li><a href="/players/{{ p.id }}/">{{ p.user.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
