<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
    <form action="{% url register form.user__id %}" method="post" class="register_form">
      {% csrf_token %} 
      <table>
       {{ form.as_table }}
       {{ registration_formset.as_table }}
       <tr>
         <th></th>
         <td><input type="submit" name="submit" value="Submit" class="button"></td>
       </tr>
      </table>
    </form>
    </body>
</html>
